matplotlib
numpy
schedule
fastapi
fastapi-utils
glog
httptools
Hypercorn
pandas
pytest
requests
prometheus_client
aiohttp
aiounittest
xgboost
scikit-learn
duckdb
pyproj
scipy
shapely
aioresponses
flwr[simulation]
torch
torchvision
tqdm